/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* start styles from here*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Roboto:wght@300;400;700&family=Xanh+Mono:ital@0;1&family=Zen+Maru+Gothic:wght@500&display=swap');

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;  
} 
.container{
    margin: 40px auto;
    width: 1440px;
     font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.header{
    border: 2px solid red;
    margin-top: 80px;
    display: flex ;
    justify-content: space-between;
    align-items: center  ;
}
.nav{
    border: 3px solid orange;
    display: flex;
    width: 600px;
    justify-content: space-between;
    
}
.nav a{
    color:  hsl(233, 8%, 79%); 
}
.nav a:hover{
    color: hsl(35, 77%, 62%);
}
main{
    border: 3px solid blue;
    display: flex;
    gap: 60px;
    margin-top: 30px;
}
.left{
    flex: 2;

}
.left img{
    max-width: 100% ;
    margin-bottom: 40px;
}

.hero{
    display: flex;
    gap: 80px   ;
   
}
.hero-text{
    font-size: 80px;
    font-weight: bold;
}
.hero-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.hero-paragraph{
    color:  hsl(233, 8%, 79%); 
    line-height: 30px;
}
.button{
    width: 55%;
    background-color: hsl(5, 85%, 63%);
    padding: 15px 10px 15px 10px;
    text-align: center;
    text-transform: uppercase;
    color: hsl(36, 100%, 99%);
    letter-spacing: 7px;

}
.button:hover{
    background-color: hsl(240, 100%, 5%)

}
.right{
    flex: 1;
    background-color: black;
    border: 3px solid rgb(0, 255, 221);
    color:  hsl(36, 100%, 99%);
    padding: 30px;
    display: flex;
    flex-direction: column;
   
   
}
.title{
  
    font-size: 40px;
    font-weight: 700px  ;
     margin-bottom: 30px;
    color: hsl(35, 77%, 62%);
}
.news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    
    flex: 1;
}
.news-item a{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
    display: inline-block;   
}
.news-item a:hover{
    color: hsl(35, 77%, 62%);
}

.news-item p{
    line-height: 30px;
    margin-bottom: 20px;
}
.news-item{
    border-bottom: 1px solid hsl(35, 77%, 62%);
    margin-top: 0px;
}
.news-item:last-child{
    border: none;
}

.cards{
    display: flex;
    margin-top: 60px;
    gap: 80px;
}
.cards img{
    max-width: 140px;
}
.card{
    display: flex;
    gap: 20px;
}
.card-description{
    display: flex;
    flex-direction: column;
    gap: 20px ;
}
.card-description a{
    font-weight: bold;
    font-size: 20px;
}
.card-description a:hover{
    color: hsl(35, 77%, 62%);;
}
.card-num{
    font-size: 40px;
    font-weight: bold;
    color:  hsl(233, 8%, 79%); ;
}
.card-description p{
    color: hsl(236, 13%, 42%) ;
    line-height: 30px;


}

